.benefits-partners{
    margin-top: 150px;
    margin-bottom: 150px;
}

.benefits>img{
    width: 30%;
    height: fit-content;
    margin-right: 50px;
}

.benefits .icon {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.benefits i{
    margin-right: unset;
    transition: 0.3s;
}

.benefits .icon:hover{ background-color: var(--secondary-color); }

.benefits .icon:hover i{ color: white; }

.benefits-partners .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.benefits-partners .container .owl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    transition: 0.3s;
    filter: contrast(0);
    opacity: 0.5;
    transition: 0.3s;
    flex: 1;
}

.benefits-partners .container .owl:hover {
    /* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75); */
    filter: contrast(1);
    opacity: 1;
    cursor: pointer;
}
