@media screen and (min-width: 319px){
    .hero{
        background: url('../../../images/slider1.jpg') center center / cover scroll no-repeat;
        height: auto;
        color: white;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 0 auto;
        padding: 242px 0 242px 0;
        font-size: xx-large;
    }

    .hero-content .text{
        width: auto;
        text-align: center;
    }

    .hero-content .text>h4{ text-transform: capitalize; }

    .hero-content h1{
        text-transform: uppercase;
        font-weight: bolder;
    }

    .hero-content .text>p{
        margin: auto;
        width: 50%;
    }

    .hero-buttons button{ margin: 20px; }

    .hero-buttons>.it-service{ display: none; }

    .hero>.main-services{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 50px auto 0px auto;
        box-shadow: 30px 30px 30px 0px rgba(0,0,0,0.75);
    }

    .service{
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .service-content{ 
        padding: 100px;
        font-size: xx-large;
    }

    .service-white{
        background-color: white;
        color: var(--ux-black);
        border-bottom: 10px solid var(--secondary-color);
        transition: 0.4s;
    }

    .service-purple{
        background-color: var(--secondary-color);
        color: white;
        border-bottom: 10px solid var(--primary-color);
        transition: 0.4s;
    }

    .icon-h2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon-h2 h2{
        font-weight: bold;
        font-size: 30px;
    }

    .icon-h2 i{
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 30px;
    }

    .service-white .icon-h2 i{
        color: var(--secondary-color);
        transition: 0.4s;
    }
}

@media screen and (min-width: 767px){
    .hero{
        margin-top: 0px;
    }

    .hero .main-services{
        /* box-shadow: */
    }

    .hero-buttons{
        display: flex;
        flex-direction: row;
    }

    /* FIX HERE */
    .hero-buttons>.it-service { 
        display: block;
        background: var(--secondary-color);
    }

    .hero-content{
        font-size: unset;
    }
}

@media screen and (min-width: 1023px) { 
    .hero>.main-services{
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        width: max-content;
        box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.75);
    }

    .hero-content{
        align-items: unset;
        justify-content: left;
        padding: 242px;
        font-size: unset;
    }

    .hero-content .text{
        width: auto;
        text-align: unset;
    }

    .hero-content .text>p{
        margin: unset;
        width: unset;
    }
    
    .hero-buttons button{
        margin: 10px;
    }
    
    .it-service:hover{
        background: var(--primary-color);
    }

    .service{
        width: 400px;
        height: 250px;
    }
    
    .service-content{
        padding: 20px;
        font-size: unset;
    }
 
    .service-white:hover{
        background-color: var(--primary-color);
        color: white;
    }
    
    .service-white:hover #purple-icon{
        color: white;
    }
    
    .service-purple:hover{
        background-color: var(--primary-color);
        border-bottom: 10px solid var(--secondary-color);
    }
    
    /* .service-1{
        background-image: url("../images/flipbox1.jpg");
        opacity: 0.5;
    }
    
    .service-2{
        background-image: url("../images/flipbox2.jpg");
    }
    
    .service-3{
        background-image: url("../images/flipbox3.jpg");
    } */
}