//MIXIN FUNCTIONS
@mixin make-square($size){      //Da gli stessi valori a width e height
    width: $size;
    height: $size;
}

@mixin make-circle($size){      //Crea un cerchio
    @include make-square($size);
    border-radius: 50%;
}

@mixin set-mx($margin-x){       //Se non è possibile usare la shorthand di margin, dà gli stessi valori a margin-left e right
    margin-left: $margin-x;
    margin-right: $margin-x;
}

// FLEXES
@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-col{
    @include flex-column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

//ALIGN JUSTIFY COMBOS
@mixin align-justify-center{
    align-items: center;
    justify-content: center;
}

//FLEX COMBOS
@mixin row-align-center{
    @include flex-row;
    align-items: center;
}

@mixin col-align-center{
    @include flex-column;
    align-items: center;
}

@mixin row-justify-center{
    @include flex-row;
    justify-content: center;
}

@mixin col-justify-center{
    @include flex-col;
    justify-content: center;
}

@mixin col-align-justify-center{
    @include col-align-center;
    justify-content: center;
}

@mixin row-align-justify-center{
    @include row-align-center;
    justify-content: center;
}

