@import "./utils/variables";
@import "./utils/mixins";

@import "./components/header";
@import "./components/navbar";

@import "./pages/home";

body{
    font-family: 'Nunito', sans-serif;

    button {
        border: none;
        outline: none;
        padding: 9px 29px;
        background: $primary-color;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        transition: 0.5s;

        &:hover{
            background: $secondary-color;

        }
    }

    h1,h2,h3{
        font-family: 'Montserrat', sans-serif;
    }

    .h5-line{
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        h5{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 15px;
            color: $secondary-color;
        }

        .line{
            display: block;
            width: 70px;
            height: 2px;
            background-color: $secondary-color;
        }
    }
}

@media screen and (min-width: 319px) {
    .h5-line .line{
        display: none;
    }
}