@media screen and (min-width: 319px){
    .contacts-social{
        display: none;
    }
}

@media screen and (min-width: 1023px){
    .contacts-social{
        display: flex;
        background-color: $secondary-color;
        padding: 10px 4em;
        color: #ffffff;
            
        a,a:hover{
            color: #ffffff; //FORZATURA
            text-decoration: none;
        }

        i{
            margin-right: 1px;
        }

        .contacts, .social{
            @include row-align-center;
        }

        .contacts{
            margin-left: 1em;
            margin-right: auto;

            div{
                margin: 0 1em;
            }
        }

        .social{
            margin-right: 1em;

            a{
                margin-left: 1em;
            }
        }
    }
}