footer{
    background-color: #211E3B;
    color: #ffffff;

    .contacts-container, .footer-2-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        font-size: smaller;
    }

    .footer-1{
        border-bottom: 1px solid #FFFF;
        padding: 40px 0px;
        
        .contacts-template{
            display: flex;
            flex-direction: column;
        }
    }

    .footer-2{
        background-image: url("../images/footer-bg.png");
        padding: 40px 0px;
        
        .brand-identity .social{
            margin-top: 20px;
            a{
                color: #ffffff;
                font-size: large;
                margin-left: 0;
                margin-right: 10px;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
        
            a{
                color: #ffffff;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .brand-identity{
        width: 40%;
    }
}

@media screen and (min-width: 1023px) {
    footer{
        .contacts-container, .footer-2-container{
            flex-direction: row;
            gap: unset;
            text-align: unset;
            font-size: unset;
        }
        
        .brand-identity{
            margin-right: auto;
    
            img, .social{
                margin-bottom: 10px;
            }
        }

        .footer-2{
            .links{
                margin-left: auto;
                margin-right: auto;

                a{
                    transition: 0.3s;
                }
                a:hover{
                    color: var(--primary-color);
                }
            }
        }
    }
}