@import "./navbar.css";

.contacts-social{
    background-color: #7141B1;
    padding: 10px;
}

.contacts-social a,a:hover{
    color: white;
    text-decoration: none;
}

.contacts-social i{
    margin-right: 1px;
}

.contacts, .social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts{
    margin-left: 1em;
    margin-right: auto;
}

.contacts div{
    margin-left: 1em;
    margin-right: 1em;
}

.social{
    margin-right: 1em;
}

.social a{
    margin-left: 1em;
}
