@import "./navbar.css";

@media screen and (min-width: 319px){
    .contacts-social{
        display: none;
    }
}

@media screen and (min-width: 1023px){
    .contacts-social{
        display: flex;
        background-color: var(--secondary-color);
        padding: 10px 4em 10px 4em;
        color: white;
    }

    .contacts-social a,a:hover{
        color: white;
        text-decoration: none;
    }

    .contacts-social i{
        margin-right: 1px;
    }

    .contacts, .social{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contacts{
        margin-left: 1em;
        margin-right: auto;
    }

    .contacts div{
        margin-left: 1em;
        margin-right: 1em;
    }

    .social{
        margin-right: 1em;
    }

    .social a{
        margin-left: 1em;
    }
}