@import "./navbar.css";

.contacts-social{
    display: none;
}

@media screen and (min-width: 1023px){
    .contacts-social{
        display: block;
        background-color: var(--secondary-color);
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;

        a,a:hover{
            color: #ffffff;
            text-decoration: none;
        }

        i{
            margin-right: 1px;
        }

        .contacts, .social{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .contacts{
            margin-right: auto;

            div{
                margin: 0 1em;
            }
        }

        .social{
            justify-content: flex-end;

            a{
                margin-left: 1em;
            }
        }
    }
}