@media screen and (min-width: 319px){
    nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        color: black;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        transition: 0.3s
    }

    nav img{ margin: 40px auto 40px auto; }

    .nav-links, .nav-link{ display: none; }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: var(--secondary-color);
        width: 100%;
        padding: 25px;
    }

    .techpros-hamburger{ width: 100%; }

    .techpros-hamburger h2{ margin: 0; }

    #hamburger{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #hamburger .line{
        display: block;
        margin: 4px;
        height: 4px;
        width: 30px;
        background: white;
        border-radius: 9px;
        transition: 0.3s;
    }

    .hamburger-is-open .line-1{ transform: translate(0, 12px) rotate(45deg); }
    .hamburger-is-open .line-2{ opacity: 0; }
    .hamburger-is-open .line-3{ transform: translate(0, -12px) rotate(-45deg); }

    .mobile-nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        background-color: white;
        top: 220px;
        text-transform: capitalize;
        width: 100%;
        height: max-content;
        z-index: 9999;
    }

    .mobile-nav-links-is-open{ display: flex; }

    .mobile-nav-link>a{
        color: black;
        padding: 50px;
        font-size: larger;
        transition: 0.3s;
    }

    nav>button{ display: none; }
}

@media screen and (min-width: 1023px){
    nav{
        flex-direction: row;
        padding: 1em 5em 1em 5em; /* SI SMINCIHA TRA 768px E 1024px */
        z-index: 99999;
    }

    
    
    nav img{ margin: 0 auto 0 0; }

    .mobile-menu{ display: none; }

    .nav-links, .nav-link{
        display: flex;
        flex-direction: row;
    }

    .nav-link>a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
        /* padding: 1em 0em 0em 0em; ON MASTER */
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .nav-link>a:hover{
        text-decoration: none;
        color: black;
    }

    .nav-link>a::after{
        margin-left: 5px;
        content: "\f107";
        font-family: FontAwesome;
        opacity: 1;
        font-size: 13px;
    }

    .nav-link:hover .dropdown { display: flex; }

    .dropdown{
        display: none;
        position: absolute;
        flex-direction: column;
        margin-top: 64px; /* 29px ON MASTER */
        z-index: 999;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        animation: fadeInUpDrop 0.3s ease-in-out;
    }

    @keyframes fadeInUpDrop {
        from{
            margin-top: 80px; /* 60px ON MASTER */
            opacity: 0%;
        }
        to{
            margin-top: 64px;
            opacity: 100%;
        }
    }

    .dropdown>a{
        color: black;
        padding: 5px 50px 5px 5px;
        transition: 0.3s;
        border-top: 1px solid #eeeeee;
    }

    .dropdown>a:hover{
        color: white;
        background-color: #7141B1;
    }

    .link-with-sub-menu:hover .sub-menu{ display: flex; }

    .sub-menu{
        display: none;
        flex-direction: column;
        position: relative;
        z-index: 999;
        margin-left: 10px;
    }

    nav>button{ display: block; }

    /* SCROLL EFFECT */
    nav.nav-scroll{
        position: fixed;
        background-color: black;
        color: white;
        top: 0;
    }

    .nav-scroll .nav-link a{
        text-decoration: none;
        color: white;
    }

    .nav-scroll .nav-link a:hover{
        text-decoration: none;
        color: white;
    }

    .nav-scroll .nav-link>a::after{
        margin-left: 5px;
        content: "\f107";
        font-family: FontAwesome;
        opacity: 1;
        font-size: 13px;
    }

    .nav-scroll .dropdown>a{
        color: black;
    }
}