nav{
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 1em 15em 1em 15em;
    color: black;
    text-transform: uppercase;
    align-items: center;
    transition: 0.3s
}

nav img{
    margin-right: auto;
}

.nav-link>a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding: 1em 1em 1em 0em;
}

.nav-link>a:hover{
    text-decoration: none;
    color: black;
}

.nav-link>a::after{
    margin-left: 5px;
    content: "\f107";
    font-family: FontAwesome;
    opacity: 1;
    font-size: 13px;
}

.nav-link:hover .dropdown {display: flex;}

.dropdown{
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 29px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    animation: fadeInUpDrop 0.3s ease-in-out;
}

@keyframes fadeInUpDrop {
    from{
        margin-top: 60px;
        opacity: 0%;
    }
    to{
        margin-top: 29px;
        opacity: 100%;
    }
}

.dropdown>a{
    color: black;
    padding: 5px 50px 5px 5px;
    transition: 0.3s;
    border-top: 1px solid #eeeeee;
}

.dropdown>a:hover{
    color: white!important;
    background-color: #7141B1;
}

.link-with-sub-menu:hover .sub-menu{ display: flex; }

.sub-menu{
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 999;
    margin-left: 10px;
}

button {
    border: none;
    outline: none;
    padding: 9px 29px;
    background: #43BAFF;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

button:hover {
    background: var(--secondary-color);
}

/* SCROLL EFFECT */
.nav-scroll{
    background-color: black;
    color: white;
    top: 0;
}

.nav-scroll .nav-link a{
    text-decoration: none;
    color: white;
}

.nav-scroll .nav-link a:hover{
    text-decoration: none;
    color: white;
}

.nav-scroll .nav-link>a::after{
    margin-left: 5px;
    content: "\f107";
    font-family: FontAwesome;
    opacity: 1;
    font-size: 13px;
}

.nav-scroll .dropdown>a{
    color: black;
}

