nav{
    padding: 1em;
    color: black;
    text-transform: uppercase;
    align-items: center;
}

nav img{
    margin-right: auto;
}

#drop-down{
    display: none;
}

.nav-link a,a:hover{
    text-decoration: none;
    color: black;
}

.nav-link a:hover{
    text-decoration: none;
    color: black;
}
.nav-link>a::after{
    margin-left: 5px;
    content: "\f107";
    font-family: FontAwesome;
    opacity: 1;
    font-size: 13px;
}

nav button {
    border: none;
    outline: none;
    padding: 9px 29px;
    background: #43BAFF;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

nav button:hover {
    background: #7141B1;
}