.about-us {
    margin: {
        top: 100px;
        bottom: 100px;
    }

    .collage {
        width: 50%;
        height: fit-content;
        margin-right: 50px;
    }

    .text {
        width: 40%;

        h2 { font-weight: 700; }
    }

    .h5-line
    {
        h5 {
            font-weight: 700;
            text-transform: uppercase;
            color: $secondary-color;
        }

        .line {
            display: block;
            margin-left: 30px;
            width: 100px;
            height: 2px;
            background-color: $secondary-color;
        }
    }

    .paragraph {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        i {
            color: $primary-color;
            font-size: xx-large;
            margin-right: 50px;
        }
    }
}


