.features-case{
    margin: {
        top: 50px;
        bottom: 50px;
    }

    .features{
        margin: {
            top: 50px;
            bottom: 10px;
        }
    }
    
    .features-line{ margin-left: unset; }

}
