@media screen and (min-width: 319px){
    .our-services{
        background-color: $secondary-color;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;

        .services-content{
            padding: 100px 0 50px;

            .text-button{
                @include flex-col;
                margin-bottom: 50px;
                margin-left: 50px;

                .text{
                    margin: unset;
                    
                    h5{
                        font-size: 16px;
                        text-transform: uppercase;
                    }

                    h3{
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            
                button.view-services{
                    @include make-square(fit-content);
                    border-radius: 5px;
                    text-transform: capitalize;
                    border: 5px solid transparent;
                    padding: 10px 15px;
                    margin-top: 5px;
                }
            }

            .services-cards{
                @include flex-col;
                gap: 15px;
                margin: 80px;

                .card{
                    @include align-justify-center;
                    background: none;
                    border: 2px solid $primary-color;
                    text-align: center;
                    padding: 10px;

                    h2{
                        margin-top: 10px;
                        font-size: 20px;
                    }

                    .icon-card{
                        @include align-justify-center;
                        @include make-circle(100px);
                        display: flex;
                        background-color: #ffffff;
                        color: $primary-color;
                        margin: 10px;

                        i{
                            font-size: 40px;
                        }
                    }

                    a{
                        color: #ffffff;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .our-services{
        .services-content{
            .text-button{
                flex-direction: row;
                align-items: center;
                margin-right: 50px;

                .text{
                    margin-right: auto;
                }
            }
        
            .services-cards{
                display: grid;
                justify-content: center;
                gap: unset;
                margin: unset;
                grid-template-columns: 45% 45%;
                column-gap: 15px;
                row-gap: 15px;
                grid-template-rows: 50% 50%;
            }
        }
    }
}

@media screen and (min-width: 1023px) {
    .our-services{
        .services-content{
            padding: 100px 121px;

            .text-button{
                @include set-mx(unset);

                .view-services{
                    margin-top: unset;
                    margin-left: auto;
                    padding: 15px 20px;

                    &:hover{
                        color: $primary-color;
                        border-color: $primary-color;
                        background-color: $secondary-color;
                    }
                }
            }

            .services-cards{
                @include flex-row;
        
                .card {
                    margin: 10px;
                    transition: all 0.3s;

                    .icon-card{
                        margin: 30px;

                        i{
                            font-size: 50px;
                        }

                        .circle{
                            @include make-circle(120px);
                            position: absolute;
                            z-index: 0;
                            display: none;
                            border: 2px solid #ffffff;
                            transition: 0.3s;
                            animation: rotation 2s linear infinite;
                            clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%,0 0);
                        }
                    }

                    &.activated, &.always-activated{
                        background-color: $primary-color;
                    }

                    &.activated, &.always-activated:hover{
                        transform: translatey(-5px);
                    }

                    &.activated, &.always-activated{

                        .circle{
                            display: block;

                            &::before{
                                @include make-circle(8px);
                                position: absolute;
                                content: '';
                                background: #ffffff;
                                left: 15px;
                                bottom: 9px;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg); /* PERÒ DEVE PARTIRE DA DOVE SI È FERMATO 🤔 */
        }
        to {
            transform: rotate(360deg);
        }
    }
}