.step-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 50px;
    width: 55%;
}


.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
}

.icon-counter i{
    color: white;
    font-size: 50px;
}

.counter{
    display: flex;
    position: absolute;
    z-index: 1;
    color: var(--primary-color);
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 0px;
    right: -15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.dot-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: none;
    border: 1px solid gray;
    margin-bottom: 2px;
}

.vertical-line{
    width: 2px;
    height: 40px;
    border: 1px solid gray;
}

.step-text{
    width: 200px;
}

.step-text h5{
    font-weight: 700;
}

.direction-sign{
    width: 200px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
}